<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Tasks Manager System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/tasks}">All Processes</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Login page  </h1>


				<div class = "card-body">
<!--					<div class = "col-lg-3">-->
						<form>
							<!-- Email input -->
							<div class="form-outline mb-4">
								<input type="email" id="form2Example1" class="form-control" />
								<label class="form-label" for="form2Example1">Email address</label>
							</div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input type="password" id="form2Example2" class="form-control" />
								<label class="form-label" for="form2Example2">Password</label>
							</div>

							<!-- 2 column grid layout for inline styling -->
							<div class="row mb-4">
								<div class="col d-flex justify-content-center">
									<!-- Checkbox -->
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
										<label class="form-check-label" for="form2Example31"> Remember me </label>
									</div>
								</div>

								<div class="col">
									<!-- Simple link -->
									<a href="#!">Forgot password?</a>
								</div>
							</div>

							<!-- Submit button -->
							<button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

							<!-- Register buttons -->
							<div class="text-center">
								<p>Not a member? <a href="signup_form">Register</a></p>
								<p>or go to tasks:</p>
								<a th:href = "@{/tasks}" class = "btn btn-primary btn-sm mb-3">tasks list</a>

							</div>
						</form>

<!--					</div>-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>